<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
        <body>
            <h1>Product Carbon Footprint for Urban Food Companies</h1>
            <!-- <img src="" alt="">
            <form method=""></form> -->
            <div>
                <input type="" id="the_input" placeholder="">	
                <button onclick="materialsInfo()">Materials Input</button>
            </div>
            <div>
                <input type="" id="second_input" placeholder="">	
                <button onclick="energyInfo()">Energy Input</button>
            </div>
            <div>
                <output type="" id="information" placeholder="">
                <button onclick="requestInfo()">Request Info</button>
            </div>
            <script src ="js/main.js"></script>
            <script src ="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        </body>
</html>