body {
    background-color: lightgreen;
  }
  
  h1 {
    color: navy;
    border: 2px solid red;
    width: 42%;
    margin-left: 450px;
  }

/* div {
  border: 2px solid red;
  width: 50%;
} */

#the_input {
    border: 2px solid red;
    margin: 2rem auto;
    margin-left: 450px;
    margin-top: 100px
}

#second_input {
    border: 2px solid red;
    margin: 2rem auto;
    margin-left: 450px;
    /* margin-top: 100px; */
}

#information{
  border-width: 100px;
  margin-left: 900px;
  position: relative;
  top: -130px;
}